In [1]:
if (!require("pacman")) install.packages("pacman")

Loading required package: pacman

Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
"there is no package called 'pacman'"

The downloaded binary packages are in
	/var/folders/h0/c9qylmn17q1g2jkn_w5pzpd40000gn/T//RtmprYxb01/downloaded_packages

pacman: for loading/unloading packages \
magrittr: for pipes \
productplots: for sample dataset "happy" \
psych: for statistical procedures \
RColorBrewer: for color palettes \
tidyverse: for so many reasons \

In [2]:
pacman::p_load(pacman, magrittr, productplots, psych, RColorBrewer, tidyverse)

also installing the dependency 'plyr'

The downloaded binary packages are in
	/var/folders/h0/c9qylmn17q1g2jkn_w5pzpd40000gn/T//RtmprYxb01/downloaded_packages

productplots installed

also installing the dependencies 'tmvnsim', 'mnormt'


Warning message in download.file(url, destfile, method, mode = "wb", ...):
"downloaded length 3522560 != reported length 4246619"
Warning message in download.file(url, destfile, method, mode = "wb", ...):
"URL 'https://cran.r-project.org/bin/macosx/contrib/4.1/psych_2.1.9.tgz': Timeout of 60 seconds was reached"

Error in download.file(url, destfile, method, mode = "wb", ...) :
  download from 'https://cran.r-project.org/bin/macosx/contrib/4.1/psych_2.1.9.tgz' failed

Warning message in download.packages(pkgs, destdir = tmpd, available = available, :
"download of package 'psych' failed"

The downloaded binary packages are in
	/var/folders/h0/c9qylmn17q1g2jkn_w5pzpd40000gn/T//RtmprYxb01/downloaded_packages

Warning message in p_install(package, character.only = TRUE, ...):
""
Warning message in library(package, lib.loc = lib.loc, character.only = TRUE, logical.return = TRUE, :
"there is no package called 'psych'"
also installing the dependencies 'cellranger', 'ids', 'vroom', 'tzdb', 'progress', 'dbplyr', 'dtplyr', 'googledrive', 'googlesheets4', 'haven', 'modelr', 'readr', 'readxl', 'reprex'

The downloaded binary packages are in
	/var/folders/h0/c9qylmn17q1g2jkn_w5pzpd40000gn/T//RtmprYxb01/downloaded_packages

tidyverse installed

Warning message in pacman::p_load(pacman, magrittr, productplots, psych, RColorBrewer, :
"Failed to install/load:
psych, tidyverse"

In [4]:
print(?happy)

R Help on 'happy'

happy               package:productplots               R Documentation

_D_a_t_a _r_e_l_a_t_e_d _t_o _h_a_p_p_i_n_e_s_s _f_r_o_m _t_h_e _g_e_n_e_r_a_l _s_o_c_i_a_l _s_u_r_v_e_y.

_D_e_s_c_r_i_p_t_i_o_n:

     The data is a small sample of variables related to happiness from
     the general social survey (GSS). The GSS is a yearly
     cross-sectional survey of Americans, run from 1976. We combine
     data for 25 years to yield 51,020 observations, and of the over
     5,000 variables, we select nine related to happiness:

_U_s_a_g_e:

     data(happy)

_F_o_r_m_a_t:

     A data frame with 51020 rows and 10 variables

_D_e_t_a_i_l_s:

        * age. age in years: 18--89.

        * degree. highest education: lt high school, high school,
          junior college, bachelor, graduate.

        * finrela. relative financial status: far above, above average,
          average, below average, far below.

        * happy. happiness: very happy, pretty happy, not too happy.

        * health. health: excellent, good, fair, poor.

        * marital. marital status: married, never married, divorced,
          widowed, separated.

        * sex. sex: female, male.

        * wtsall. probability weight. 0.43--6

In [5]:
print(names(happy))

 [1] "id"      "happy"   "year"    "age"     "sex"     "marital" "degree"
 [8] "finrela" "health"  "wtssall"

In [10]:
df <- happy
head(df, 10)

   id happy         year age sex    marital       degree         finrela
1   1 not too happy 1972 23  female never married bachelor       average
2   2 not too happy 1972 70  male   married       lt high school above average
3   3 pretty happy  1972 48  female married       high school    average
4   4 not too happy 1972 27  female married       bachelor       average
5   5 pretty happy  1972 61  female married       high school    above average
6   6 pretty happy  1972 26  male   never married high school    above average
7   7 not too happy 1972 28  male   divorced      high school    above average
8   8 not too happy 1972 27  male   never married bachelor       average
9   9 pretty happy  1972 21  female never married high school    average
10 10 pretty happy  1972 30  female married       high school    below average
   health    wtssall
1  good      0.4446
2  fair      0.8893
3  excellent 0.8893
4  good      0.8893
5  good      0.8893
6  good      0.4446
7  excellent 0.4446
8  good      0.4446
9  excellent 0.4446
10 fair      0.8893